<div class="wrap">
  <div class="container">
    <h1>All cocktails</h1>
    <div class="nav-list">
      <%= link_to "Add a cocktail", new_cocktail_path %>
    </div>
    <div class="content">
      <% @cocktails.each do |cocktail| %>
        <div class="card" style="background-image: url('<%= cl_image_path cocktail.photo.key %>'">
          <div class="card-filter">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>