// body
body {
  background-color: #E0DED3;
}

.wrap {
  background-image: url(cocktails.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  // justify-content: flex-start;
}

.container {
  background: linear-gradient(to right top, rgba(255,255,255,1), rgba(255,255,255,0.4));
  min-height: 90vh;
  width: 80%;
  // align-items: center;
  * {
    margin: 4px;
  }
}

.content {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
}
